@import "./ourAdvantages";
@import "./adaptation/ourAdvantagesA";
* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Exo 2";
  font-weight: 300;
}
.yellowBackground {
  background-color: #ffbf1c;
}

.textCenter {
  text-align: center;
}
.widthWrapperText {
  width: 230px;
}
